<!--<header>
    <div id="header">
      <a class="home-link" routerLink="/nfl/1" routerLinkActive="active" >
        <img class="logo" src="assets/Main_Image.png" alt="Logo">
      </a>
      <div class="header-text">
        <div class="left">
          
          <span class="header-nav">
            <a routerLink="/nfl/1" routerLinkActive="active" >NFL</a>
              |
            <a routerLink="/espn/1" routerLinkActive="active" >ESPN</a>
              |
            <a routerLink="/fox/1" routerLinkActive="active">FOX</a>
              |
            <a routerLink="/bbc/1" routerLinkActive="active">BBC</a>
          </span>
        </div>
      </div>
      
    </div>
    
  </header>-->


     <nav class="navbar navbar-light" style="background-color:whitesmoke">
       <a class="navbar-brand" href="#" style="padding: 10px">
    <img src="assets/Logo.png" width="35" height="35" alt="">
  </a>
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sports News Combinator</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/nfl" routerLinkActive="active" >NFL</a></li>
                    <li><a routerLink="/espn" routerLinkActive="active" >ESPN</a></li>
                    <li><a routerLink="/fox" routerLinkActive="active" >FOX</a></li>
                    <li><a routerLink="/bbc" routerLinkActive="active" >BBC</a></li>
    </ul>
  </div>
</nav>