#header {
  color: green;
  padding: 6px 0;
  line-height: 18px;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #header {
    height: 50px;
    position: fixed;
    top: 0;
  }
}
#header a {
  display: inline;
}

.home-link {
  width: 50px;
  height: 66px;
}

.logo-inner {
  width: 32px;
  position: absolute;
  left: 17px;
  top: 18px;
  z-index: -1;
  height: 32px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .logo-inner {
    left: 16px;
    top: 12px;
  }
}

.logo {
  width: 50px;
  padding: 3px 8px 0;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 45px;
    padding: 0 0 0 10px;
  }
}

h1 {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
}
h1 a {
  color:black;
  text-decoration: none;
}

.name {
  margin-right: 30px;
  margin-bottom: 2px;
}
@media screen and (max-width: 768px) {
  .name {
    display: none;
  }
}

.header-text {
  position: absolute;
  width: inherit;
  height: 20px;
  left: 10px;
  top: 27px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .header-text {
    top: 22px;
  }
}

.left {
  position: absolute;
  left: 60px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .left {
    width: 100%;
    left: 0;
  }
}

.header-nav {
  display: inline-block;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .header-nav {
    margin-left: 60px;
  }
}
.header-nav a {
  color: blue;
  text-decoration: none;
  margin: 0 5px;
  letter-spacing: 1.8px;
}
.header-nav a:hover {
  color: yellowgreen;
}
.header-nav .active {
  color:blanchedalmond;
}

.info {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .info {
    right: 10px;
  }
}
.info img {
  opacity: 0.8;
  width: 25px;
  margin-top: 21.5px;
  display: block;
}
.info img:hover {
  opacity: 1;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .info img {
    margin-top: 15px;
  }
}
