<nav class="navbar navbar-light" style="background-color:whitesmoke">
    <a class="navbar-brand" href="#" style="padding: 10px">
      <img src="assets/Logo.png" width="35" height="35" alt="">
    </a>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sports News Combinator</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/nfl">NFL</a></li>
        <li><a routerLink="/espn">ESPN</a></li>
        <li><a routerLink="/fox">FOX</a></li>
        <li><a routerLink="/bbc">BBC</a></li>
      </ul>
    </div>
</nav>