thead {
    color: #337AB7;
}
.panel-primary{
  border-color: #87396b;
}
.panel-heading{
  background-color: #87396b;
  border-color: #87396b;
}
.item-block {
  display: block;
}
/*p {
  margin: 2px 0;
}
@media screen and (max-width: 768px) {
  p {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

.title {
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
}

.subtext-laptop {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.subtext-laptop a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .subtext-laptop {
    display: none;
  }
}

.subtext-palm {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.subtext-palm a:hover {
  text-decoration: underline;
}
.subtext-palm .details {
  margin-top: 5px;
}
.subtext-palm .details .right {
  float: right;
}
@media screen and (min-width: 769px) {
  .subtext-palm {
    display: none;
  }
}

.domain {
  color: #696969;
  letter-spacing: 0.5px;
}

.item-details {
  padding: 10px;
}
*/