.footer {
  background: whitesmoke;
  padding: 10px 0;
}
.footer a {
  color: blue;
  font-size: 20px;
  padding: 10px;
}
.footer a:second-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: darkblue;
}